.awards-heading {
  margin-top: 80px;
}
@media (max-width: 991px) {
  .awards-heading{
    margin-top: 50px;
  }
}
.awards-heading h1{
  color: var(--Colors-Text-Color, #000);

  /* Serif/Heading/Se H2 */
  font-family: "DM Serif Display";
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 61px */
}

@media (max-width: 991px) {
  .awards-heading h1{
    font-size: 39px;
  }
}

.awards-box-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 31px;
  row-gap: 61px;
  margin: 180px 0;
}
@media (max-width: 991px) {
  .awards-box-container{
    grid-template-columns: repeat(1, 1fr);
    margin: 61px 0;
    row-gap: 49px;
  }
}

.awards-box{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}

.awards-title{
  color: var(--Colors-Text-Color, #000);
  
  /* Serif/Sub-heading/Se Sub-Heading 1 */
  font-family: "DM Serif Display";
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 37.2px */
}

.awards-profile{
  display: flex;
gap: 25px;
align-self: stretch;
align-items: center;
}

.awards-img{
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 48px;
}
.awards-text{
  color: var(--Colors-Text-Color, #000);

  /* Sans-Serif/Upper Case/SS UC 3 */
  font-family: "Familjen Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.awards-desc{
  color: var(--Colors-Text-Color, #000);

/* Sans-Serif/Body/SS Body */
font-family: "Familjen Grotesk";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}