.exam-head {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
}
@media (max-width: 991px) {
  .exam-head {
    margin-top: 30px;
  }
}
.head-top {
  color: #000;

  /* Sans-Serif/Upper Case/SS UC 4 */
  font-family: "Familjen Grotesk";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
}
.exam-title {
  color: #000;

  /* Serif/Heading/Se H2 */
  font-family: "DM Serif Display";
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 61px */
  margin-top: 25px;
}
@media (max-width: 991px) {
    .head-top{
        font-size: 20px;
    }
    .exam-title {
      font-size: 31px;
    }
  }
.exam-desc {
  color: var(--Colors-Text-Color, #000);

  /* Sans-Serif/Body/SS Body */
  font-family: "Familjen Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin-top: 49px;
}
@media (max-width: 991px) {
  .exam-desc{
    font-size: 14px;
    margin-top: 30px;
  }
}
.exam-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  margin-top: 61px;
}
@media (max-width: 991px) {
    .exam-nav {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 20px;
      margin-top: 30px;
    }
  }

.exam-nav-leftbox {
  display: flex;
  gap: 46px;
}
@media (max-width: 991px) {
    .exam-nav-leftbox {
      /* flex-direction: column; */
      align-items: start;
      gap: 0;
    }
  }
.exam-nav-rightbox {
  display: flex;
  align-items: center;
  gap: 31px;
}
@media (max-width: 991px) {
    .exam-nav-rightbox {
      flex-direction: column;
      align-items: start;
    }
  }
.exam-nav-title {
    display: flex;
    flex-direction: column;
  color: var(--Colors-Text-Color, #000);
  text-align: center;

  /* Sans-Serif/Body/SS Body Big */
  padding: 16px;
  font-family: "Familjen Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  cursor: pointer;
}
@media (max-width: 991px) {
  .exam-nav-title {
    font-size: 14px;
    padding: 10px;
  }
}
.exam-nav-title:hover{
    color: var(--Colors-Buttons-Primary-Button, #992e00);

}
.hline{
    visibility: hidden;
    width: 100%;
    height: 1px;
    background-color: var(--Colors-Buttons-Primary-Button, #992e00);

}
.color{
    color: var(--Colors-Buttons-Primary-Button, #992e00);
}
.visible{
    visibility: visible;
}
.text_btn_txt {
  color: var(--Colors-Buttons-Primary-Button, #992e00);

  /* Button/Button Text 20 */
  font-family: "Familjen Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  padding: 4px 0;
}

.exam-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 61px;
}
@media (max-width: 991px) {
  .exam-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}
.apply-box{
    height: 180px;
    border: 1px solid black;
    padding: 39px 25px;
    color: var(--Colors-Text-Color, #000);
text-align: center;

/* Serif/Sub-heading/Se Sub-Heading 1 */
font-family: "DM Serif Display";
font-size: 31px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 37.2px */
}
@media (max-width: 991px) {
    .apply-box {
      flex-direction: column;
      width: 100%;
      font-size: 25px;
    }
  }

  .question-box{
    height: 180px;
    border: 1px solid black;
    padding: 24px 24px;
    color: var(--Colors-Text-Color, #000);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

/* Serif/Sub-heading/Se Sub-Heading 1 */
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 37.2px */
}
@media (max-width: 991px) {
  .question-box {
    flex-direction: column;
    width: 100%;
    font-size: 25px;
  }
}
.text_btnnew{
    height: 25px;
}
.tt{
  margin-top: 49px;
}
.tt-head{
  color: #000;

/* Serif/Sub-heading/Se Sub-Heading 1 */
font-family: "DM Serif Display";
font-size: 31px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 37.2px */
}
@media (max-width: 991px) {
  .tt-head{
    font-size: 25px;
  }
}

.tt-box-container{
  margin-top: 49px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 991px) {
  .tt-box-container{
    flex-direction: column;
  }
}

.tt-box{
  min-width: 320px;
  max-width: 320px;
  height: 249px;
  border: 1px solid black;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .tt-box{
    width: 100%;
  }
}

.tt-box-title{
  color: var(--Colors-Text-Color, #000);

/* Serif/Body/Se Body Big */
font-family: "DM Serif Display";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 20px */
}

.tt-box-desc{
  color: var(--Colors-Text-Color, #000);

/* Sans-Serif/Body/SS Body */
font-family: "Familjen Grotesk";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}

.tt-box-btn{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.dt{
  color: var(--Colors-Text-Color, #000);

/* Sans-Serif/Upper Case/SS UC 2 */
font-family: "Familjen Grotesk";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
text-transform: uppercase;
}

#apply, #timetable, #questionpaper, #schemes{
  margin-bottom: 180px;
}

.steps-head{
  display: flex;
  align-items: end;
}


#modalLabel{
  color: #000;

/* Serif/Sub-heading/Se Sub-Heading 1 */
font-family: "DM Serif Display";
font-size: 31px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 37.2px */
width: 70%;
}

.download-btn{
  margin-bottom: 15px;
}
.content{
  width: 100%;
  height: 100%;
  overflow: auto !important;
}
.steps-no{
  color: var(--Colors-Text-Color, #000);

/* Sans-Serif/Body/SS Body */
font-family: "Familjen Grotesk";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
margin-top: 20px;
}

.steps-text{
  color: var(--Colors-Text-Color, #000);

/* Sans-Serif/Body/SS Body */
font-family: "Familjen Grotesk";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}