.ulife-column {
  justify-content: center;
}
.ulife-div-21 {
  margin-top: 0;
}
@media (max-width: 991px) {
  .ulife-div-23 {
    position: absolute;
    max-width: 90%;
    margin-top: 450px;
    font-size: 16px;
    line-height: 16px;
  }
}
.gfacility-section {
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}
.outdoor-section {
  margin-top: 180px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.indoor-section {
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hostel-section {
  margin-top: 180px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .gfacility-section {
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 0px;
  }
  .outdoor-section {
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 60px;
  }
  .indoor-section {
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 60px;
  }
  .hostel-section {
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 60px;
  }
}
.gfacility-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
@media (max-width: 991px) {
  .gfacility-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.indoor-img-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
}
@media (max-width: 991px) {
  .indoor-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

.gfacility-img-box1{
  grid-row: 1/3;
}

.gfacility-details-container{
  width: 275px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 991px) {
  .gfacility-details-container{
    width: 100%;
    gap: 25px;
  }
}
.indoor-details-container{
  width: 383px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .indoor-details-container{
    width: 100%;
    gap: 25px;
  }
}
.hostel-details-container{
  width: 365px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .hostel-details-container{
    width: 100%;
    gap: 25px;
  }
}
.food-details-container{
  width: 427px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .food-details-container{
    width: 100%;
    gap: 25px;
  }
}
.medical-details-container{
  width: 456px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .medical-details-container{
    width: 100%;
    gap: 25px;
  }
}

.gfacility-title {
  color: var(--Colors-Text-Color, #000);

  /* Serif/Heading/Se H2 */
  font-family: "DM Serif Display";
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 61px */
}
@media (max-width: 991px) {
  .gfacility-title {
    font-size: 31px;
  }
}
.gfacility-desc {
  color: var(--Colors-Text-Color, #000);

  /* Sans-Serif/Body/SS Body */
  font-family: "Familjen Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
@media (max-width: 991px) {
  .gfacility-desc {
    font-size: 14px;
  }
}

.card-overlay1 {
  width: 450px;
  height: 298px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, black 100%);
  padding: 31px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}
@media (max-width: 991px) {
  .card-overlay1 {
    width: 100%;
  }
}
.card-img1 {
  background-size: 450px 298px;
  position: relative;
  z-index: 2;
  width: 450px;
  height: 298px;
  object-fit: cover;
}
@media (max-width: 991px) {
  .card-img1 {
    background-size: 100% 298px;
    width: 100%;
  }
}

.card-overlay2 {
  width: 100%;
  height: 620px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, black 100%);
  padding: 31px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}
@media (max-width: 991px) {
  .card-overlay2 {
    height: 298px;
  }
}
.card-img2 {
  background-size: 100% 620px;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 620px;
  object-fit: cover;
}
@media (max-width: 991px) {
  .card-img2 {
    background-size: 100% 298px;
    height: 298px;
  }
}

.card-overlay3 {
  width: 298px;
  height: 620px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, black 100%);
  padding: 31px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}
@media (max-width: 991px) {
  .card-overlay3 {
    width: 100%;
    height: 298px;
  }
}

.card-img3 {
  background-size: 298px 620px;
  position: relative;
  z-index: 2;
  width: 298px;
  height: 620px;
  object-fit: cover;
}
@media (max-width: 991px) {
  .card-img3 {
    background-size: 100% 298px;
    width: 100%;
    height: 298px;
  }
}