* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 5%;
}
.logo{
    width: 12%;
    object-fit: cover;
}
.main-content{
    display: flex;
    height: 90%;
}
.left-section {
    flex: 1;
    padding: 20px;
}

.left-section .logo {
    width: 100px;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.welcome-text h1 {
    color: #992E00;
    font-size: 48px;
}

.welcome-text h2 {
    color: #000;
    margin: 20px 0;
    font-size: 24px;
    font-family: Familjen Grotesk;
}

.login-form .input-group {
    margin-bottom: 40px;
}

.login-form label {
    display: block;
    font-size: 16px;
    color: #333;
    font-family: sans-serif;
}
.Ss-btn_txt{
    font-size: 20px;
    font-family: 'Familjen Grotesk', sans-serif;
    font-weight: 400;
    line-height: 17px;
    word-wrap: break-word;
}
.login-form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    padding: 10px 5px;
    font-size: 16px;
    background-color: transparent;
    outline: none;
}

.login-btn {
    background-color: #8B3A2E;
    color: #fff;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.btn-search{
    margin-right: 50px;
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: -13px;
    color: black;
    background-color: transparent;
    pointer-events: painted;
}
.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.links a {
    color: #992E00;
    text-decoration: none;
    font-size: 16px;
    padding: 2px;
    border-bottom: 2px solid #992E00;
}

button{
    background: #992E00;
    border-radius: 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    border: 0;
    padding: var(--Numbers-7, 20px) var(--Numbers-9, 31px);
    color: white;
    cursor: pointer;
}
