.mblfooter {
    width: 100%;
    height: 100%;
    padding: 0% 13px;
    padding-bottom: 80px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 61px;
    display: inline-flex;
    background-color: #F2F1ED !important;
    /* background: aliceblue; */
}

.mblftrcontact_div {
    width: 100%;
    gap: 61px;
}

.mblftr_cntdetails_txt {
    flex: 1 1 0;
    color: black;
    font-size: 13px;
    display: flex;
    gap:4px;
    justify-content: center;
    align-items: center;
}
.mblcopyrights_txt {
    color: black;
    font-size: 12px;
}

.mblanchor{
	 color: black !important;
	text-decoration:none !important;
}

.mblclznm_txt{
    align-self: stretch;
    color: black;
    font-size: 13px;
    font-family: Familjen Grotesk;
    font-weight: 400;
    line-height: 22.40px;
    word-wrap: break-word;
}

.mblfooter_innrdiv{
    align-self: stretch;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.mblftr_cntdetails {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.mblftrcontact_innrdiv {
    align-self: stretch;
    height: 198px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    display: flex;
}

.mblftr_col1 {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
    display: inline-flex;
    width: 100%;
}

.mblbethefirst_txt{
    align-self: stretch;
    color: black;
    font-size: 25px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 37.20px;
    word-wrap: break-word;
}