.naac-home{
  padding-right: 30px;
}
.home-research{
  margin-top: 83px !important;
}
@media (max-width: 991px) {
  .home-research{
      margin-top: 30px !important;
  }
}
.home-researchdiv {
  gap: var(--Spacing-Spacing-xl, 14px) !important;
  align-items: center !important;
}

.iqac-title{
  color: var(--Colors-Primary, #992E00);

  /* Serif/Display/Se Display 4 */
  font-family: "DM Serif Display";
  font-size: 95px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 95px */
}
@media (max-width: 991px) {
  .iqac-title{
      font-size: 39px;
  }
}
.iqac-txt{
  color: var(--Color-Text-Color-def, #000);

  /* Serif/Sub-heading/Se Sub-Heading 1 */
  font-family: "DM Serif Display";
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 37.2px */
  padding-right: 30px;
}
@media (max-width: 991px) {
  .iqac-txt{
      font-size: 16px;
      padding-right: 0;
  }
  .home-research_innrdiv, .home-researchdiv1{
      gap: 30px !important;
  }
  .home-reseachcountdiv{
      margin-top:30px;
}
}
  .course-card {
   
    border: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    color: var(--Colors-Text-Color, #000);
    font-weight: 400;
    padding: 21px 25px;
    width: calc(33.33% - 40px);
    width: 23%;
    height: 180px;
    justify-content: center;
    box-sizing: border-box;
  }
  @media (max-width:991px){
    .course-card{
        width: 100%;
    }
  }


.Accreditation-date{
color: var(--Colors-Text-Color, #000);

/* Sans-Serif/Upper Case/SS UC 4 */
font-family: "Familjen Grotesk";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 25px */
text-transform: uppercase;
}

.header-title {
  color: #000;
  width: 100%;
  font: 400 61px / 100% DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .header-title {
    max-width: 100%;
    font-size: 40px;
    padding:0 20px;
  }
}
.accreditation-dates {
  color: var(--Colors-Text-Color, #000);
  text-transform: uppercase;
  margin-top: 49px;
  margin-bottom: 49px;
  width: 100%;
  font: 500 25px / 100% Familjen Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .accreditation-dates {
    max-width: 100%;
    margin-top: 40px;
    padding:0 20px;
  }
}
.home-research{
  max-width: 1270px;
  margin-top: 80px;
  padding-right: 20px;
}
.home-researchdiv{
  width: 100%;
}
@media(min-width:320px) and (max-width:576px){
  .home-research{
    margin-top: unset;
  }
}
.naac-cta{
  width: 166px !important;
}
.naac-gap-btn1{
  margin-top: 59px;
}
.naac-gap-btn2{
  margin-top: 22px;
}