.home-reseach_square_txt{
  font-size:39px;
}
.home-reseachcount{
  font-size: 61px;
}
.home-reseachcount p{
  font-size:31px;
  margin: 0;
}


.non-clk_carddiv{
  margin-right: 120px;
}
.process-container {
  display: flex;
  flex-direction: column;
}

.process-title {
  color: var(--Color-Neutral-Black, #000);
  font: 400 61px/100% DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
  width: 100%;
}

@media (max-width: 991px) {
  .process-title {
    font-size: 40px;
  }
}

.steps-section {
  margin-top: 96px;
  width: 100%;
}

@media (max-width: 991px) {
  .steps-section {
    margin-top: 40px;
    padding-right: 20px;
  }
}

.steps-container {
  display: flex;
  gap: 190px;
}

@media (max-width: 991px) {
  .steps-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.step-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 30%;
}

@media (max-width: 991px) {
  .step-column {
    width: 100%;
  }
}

.step {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

@media (max-width: 991px) {
  .step {
    margin-top: 40px;
  }
}

.step-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
}

.step-title {
  color: var(--Color-Neutral-Black, #000);
  margin-top: 12px;
  font: 39px/39px DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
}

.step-description {
  color: #000;
  margin-top: 12px;
  font: 16px/22px Familjen Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
}
.image-gallery {
  justify-content: space-between;
  display: flex;
  margin-top: 89px;
  width: 100%;
  gap: 20px;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .image-gallery {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.image-gallery {
  justify-content: space-between;
  display: flex;
  margin-top: 89px;
  width: 100%;
  gap: 20px;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .image-gallery {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

.features-section {
  display: flex;
  flex-direction: column;
}

.section-title {
  color: #000;
  width: 100%;
  font: 400 61px/100% DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .section-title {
    max-width: 100%;
    font-size: 40px;
  }
}

.features-wrapper {
  justify-content: space-between;
  margin-top: 67px;
  width: 100%;
  padding: 0;
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .features-wrapper {
    max-width: 100%;
    margin-top: 40px;
    flex-direction: column;
    gap: 25px;
  }
}

.feature-item {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #000;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-align: center;
  line-height: 22px;
  padding: 27px 19px;
}

@media (max-width: 991px) {
  .feature-item {
    width: 100%;
  }
}

.feature-item img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 48px;
  align-self: center;
}

.feature-description {
  font-family: Familjen Grotesk, sans-serif;
  margin-top: 13px;
}


.container {
  display: flex;
  flex-direction: column;
}

.content-section {
  display: flex;
  width: 100%;
  gap: 162px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .content-section {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  color: var(--Colors-Text-Color, #000);
  font-weight: 400;
  line-height: 100%;
  padding: 0;
}

@media (max-width: 991px) {
  .main-content {
    max-width: 100%;
  }
}

.main-title {
  text-transform: uppercase;
  font: 500 25px Familjen Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .main-title {
    max-width: 100%;
  }
}

.subtitle {
  color: #000;
  margin-top: 20px;
  font: 57px DM Serif Display, sans-serif;
}

@media (max-width: 991px) {
  .subtitle {
    max-width: 100%;
    font-size: 40px;
  }
}

.description {
  margin-top: 25px;
  font: 31px/37px DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
    margin-top: 40px;
  }
}

.detailed-text {
  color: var(--Color-Text-Color-def, #000);
  margin-top: 20px;
  font: 15.5px/22px Familjen Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .detailed-text {
    max-width: 100%;
  }
}




.image {
  object-fit: auto;
  object-position: center;
}

.small-image {
  aspect-ratio: 1;
  width: 48px;
}

.icon-image {
  aspect-ratio: 1;
  width: 24px;
}

.medium-image {
  aspect-ratio: 2.17;
  width: 180px;
  max-width: 100%;
}

.large-image {
  aspect-ratio: 3.03;
  width: 255px;
  max-width: 100%;
}

.xlarge-image {
  aspect-ratio: 2.63;
  width: 220px;
  max-width: 100%;
}

.xxlarge-image {
  aspect-ratio: 4.17;
  width: 356px;
  max-width: 100%;
}
.CoexammpContactUs {
  width: 1260px;
  height: 619px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.CoexammpContactUsw654 {
  width: 654px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CoexammpContactUsw385 {
  width: 385px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 61px;
}

.CoexammpContactUsw385h61 {
  width: fit-content;
  height: 61px;
  font-family: "DM Serif Display";
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.CoexammpContactUsw385h497 {
  width: 385px;
  height: 497px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.CoexammpContactUsw385h497h392 {
  width: 299px;
  height: 392px;
  object-fit: cover;
}

.CoexammpContactUsw385h497h98 {
  width: 299px;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CoexammpContactUsw385h497h98h25 {
  width: 273px;
  height: 25px;
  font-family: "Familjen Grotesk";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}

.CoexammpContactUsw385h497h98h28 {
  width: 273px;
  height: 25px;
  font-family: "Familjen Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.CoexammpContactUsw269 {
  width: 269px;
  height: 100%;
  display: flex;
  align-items: center;
}

.CoexammpContactUsw269h275 {
  width: 269px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.CoexammpContactUsw269h275w194 {
  width: 194px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 20px;
}

.CoexammpContactUsw269h275w194w86 {
  width: 86px;
  height: fit-content;
  font-family: "DM Serif Display";
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: start;
}

.CoexammpContactUsw269h275w194w194 {
  height: fit-content;
  font-family: "Familjen Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.CoexammpContactUsw269w269h85 {
  width: 269px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  row-gap: 20px;
}

.CoexammpContactUsw269w269h85w78 {
  width: 78px;
  height: fit-content;
  font-family: "DM Serif Display";
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.CoexammpContactUsw269w269h85w269 {
  width: 269px;
  height: fit-content;
  font-family: "Familjen Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 800px) {
  .CoexammpContactUs {
      width: 349px;
      flex-direction: column;
      height: fit-content;
  }

  .CoexammpContactUsw654 {
      flex-direction: column;
  }

  .CoexammpContactUsw385 {
      flex-direction: column;
      width: 349px;
  }

  .CoexammpContactUsw654 {
      width: 349px;
  }

  .CoexammpContactUsw385h497 {
      width: 349px;
  }

  .CoexammpContactUsw385h497h392 {
      width: 349px;
  }

  .CoexammpContactUsw269 {
      width:349px;}
}











