*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ueac-div1 {
    width: 100vw;
    max-width: 1270px;
}
/*-----------------SECTION----------------------*/
.events-intro{
    width: 100%;
}
.events-title{
    color: var(--Colors-Primary, #992e00);
    margin: 100px 0 0 0px;
    font: 400 95px / 100% DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
}
.event-intro-left{
    width: 70%;
}
.events-desc{
    color: var(--Color-Text-Color-def, #000);
    width: 100%;
    text-align: justify;
    margin: 61px 0 0 0px;
    font: 400 31px / 37px DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
}
.content-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 10fr);
    align-self: center;
    margin-top: 180px;
    width: 102%;
    max-width: 1284px;
    margin-bottom: 10%;
}
.activity-column{
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 94%;
}
.activity-item{
    display: flex;
    flex-direction: column;
    color: var(--Colors-Text-Color, #000);
    font-weight: 400;
    padding-bottom: 25px;
}
.responsive-img{
    aspect-ratio: 1.67;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
}
.responsive-img:hover{
    cursor: pointer;
}
.activity-date {
    margin-top: 25px;
    font: 16px / 140% Familjen Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
}
.activity-title{
    margin-top: 13px;
    text-transform: uppercase;
    font: 25px / 120% DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.overlay-dialog1 {
    width: 81% !important;
    height: 80% !important;
    margin: 13px 20px;
    float: right;
    animation-name: slide;
    animation-duration: 1s;
}
.filter-modal_content1 {
    position: relative;
    height: 60%;
    background-color: #F2F1ED !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    /* border: 1px solid rgba(0, 0, 0, .2); */
    border-radius: 0 !important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    height: auto;
    overflow-y: auto;
}
.close-section {
    width: 10%;
    float: right;
    padding: 1%;
    position: absolute;
    right: 0;
}
button.close {
    --webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity = 20);
    opacity: .2;
}
.content-wrapper2 {
    background-color: var(--Colors-Background, #f2f1ed);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 48px;
}
.content-container {
    margin-top: -2%;
    display: flex;
    gap: 2%;
}
.share-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
    margin: 0;
}
.content-description-section {
    width: 58%;
    display: flex;
    flex-direction: column;
    line-height: normal;
}
.description-wrapper {
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    gap: 20px;
    padding: 0 4px 25px 20px;
    height: 69vh;
    overflow-y: auto;
}
.description-text {
    align-self: start;
    display: flex;
    flex-direction: column;
    color: #000;
    font-weight: 400;
}
.event-title {
    font: 43px / 100% DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;
}
.event-date {
    color: #000;
    text-transform: uppercase;
    font: 400 20px / 1.4 Familjen Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
}
.event-description {
    margin-top: 45px;
    font: 16px / 22px Familjen Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
    text-align: justify;
}
.highlight-container {
    border-radius: 10px;
    background-color: var(--Colors-Tone-Warm-3, #d1cec7);
    align-self: end;
    display: flex;
    margin-top: 159px;
    padding-top: 80px;
    flex-direction: column;
    flex: 1;
}
#social-arrow:hover{
    cursor: pointer;
}
.share-images-container {
    width: 100%;
    height: 60%;
    justify-content: center;
    background-color: #fff;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}
.share-title {
    color: #000;
    text-transform: uppercase;
    align-self: start;
    margin-top: 39px;
    font: 500 16px Familjen Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
}
.share-icons {
    align-items: start;
    align-self: start;
    display: flex;
    margin-top: 4px;
    gap: 12px;
}

.overlay-content-wrapper {
    width: 474px !important;
    animation-name: slide;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation-duration: 0.5s;
    background-color: var(--Colors-Background, #f2f1ed);
}
.text_innrdiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
}
.archive-model {
    position: relative;
    background-color: #F2F1ED !important;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    height: auto;
    overflow-y: auto;
    float: right;
}
.archive-overlay-header {
    display: flex;
}
.archive-overlay-header-txt{
    color: black;
    font-size: 49px;
    font-family: DM Serif Display;
    font-weight: 400;
    line-height: 49px;
    word-wrap: break-word;
}
.archive-overlay-content{
    position: relative;
    /* overflow-y: hidden; */
    display: grid;
    justify-content: flex-start;
    gap: 20px;
}
.text_btnnew_txt {
    width: 50px;
    border: none;
    border-bottom: 2px solid #992E00;
    color: var(--Colors-Buttons-Primary-Button, #992E00);
    font-family: Familjen Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    cursor: pointer;
}


@media only screen and (min-width: 300px) and (max-width: 500px) {
    .event-intro-left { width: 100%;}
    .content-wrapper { grid-template-columns: 1fr;}
    .overlay-content-wrapper { width: 100% !important;text-align: justify; padding: 15px;}
    .filter-modal_content1 {width: 90vw;}
    .content-container {flex-direction: column;gap: 5px;}
    .share-section {width: 100%;}
    .overlay-dialog1 {width: 90% !important;}
    .content-description-section {margin-left: 0px;width: 100%;}
    .description-wrapper{gap: 5px; padding: 0px;}
    .events-title {font: 300 41px / 100% DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;}
    .events-desc{font-size: 20px; line-height: 25px;}
    .activity-title{font: 20px / 120% DM Serif Display, -apple-system, Roboto, Helvetica, sans-serif;}
    .event-description { font-size: 13px;}
    .event-title {font-size: 31px;}
    .content-wrapper2 { padding: 48px 25px;}
}
  
@media only screen and (min-width: 501px) and (max-width: 768px) {

}

@media only screen and (min-width: 769px) and (max-width: 1024px){

}